body{
    background:linear-gradient(to left, #283593, #1976d2);
}
.cursor-pointer{cursor:pointer;}
.image-box{
    height: 40vh;
    width: 40vh;
}

.dashed-border{
    border: 1px dashed white;
}

.w-left{
    width: 50vh;
}

@media (max-width: 550px) {
    .principal-container{
        flex-direction: column;
    }
}